.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;

  .content{
    background-color: #292929;
    text-align: center;
    padding: 10px;
    
    .inputField{
      display: flex;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 339px;
      
      .inputLogin{
        border-radius: 10px;
        margin-top: 10px;
        padding: 15px 15px 20px;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        border: 0;
        height: 26px;
        color: black;
        box-shadow: 0 none;
        outline: 0;
      }
      
      span{
        display: flex;
        align-items: center;
        color: red;
        margin-top: 10px;
        font-size: 14px;
        height: 26px;
        width: 260px;
        padding: 10px 5px;
      }
    }
    
    .inputField:focus{
      -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
      transition: width 2s, height 2s, background-color 2s, transform 2s;
      transform: scaleY(0.1);
    }

    .buttonLogin{
      margin-top: 10px;
      padding: 15px 10px;
      width: 100%;
      background-color: #FFCE00;
      color: black;
      font-size: 18px;
      font-weight:  bold; 
      border: 0px;
      border-radius: 7px;
      box-shadow: 0 3pt 6pt; 
    }
    
    .buttonLogin:hover{
      background-color: #dfb202;
      transform: scale(0.99);
      cursor: pointer;
      transition: 0.7s ease-out;
    }
  }

}