.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;

  .content{
    background-color: #292929;
    text-align: center;
    padding: 10px;
    
    .inputLogin{
      border: 1px solid #E5E5E5;
      margin-top: 10px;
      padding: 15px 10px;
      display: inline-block;
      font-size: 16px;
      background-color: white;
      border-radius: 8px;
      width: 92%;
      color: black;
      box-shadow: 0 none;
      outline: 0;
    }

    .buttonLogin{
      margin-top: 10px;
      padding: 15px 10px;
      width: 100%;
      background-color: #FFCE00;
      color: black;
      font-size: 18px;
      font-weight:  bold; 
      border: 0px;
      border-radius: 7px;
      box-shadow: 0 3pt 6pt; 
    }
  }

}