.Container{
  padding: 0;
  width: 100vw;
  height: 80vh;
  
  .Content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: white;
  }
}