* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p, h1, h2{
  color: white;
}

body, html, #root{
  height: 100%;
}

.App{
  background-color: #292929;
  height: 100%;
  display: flex;
  justify-content: center;
}