
// Div principal
.container{
  max-height: 812px;
  max-width: 375pt;
  
  // Div responsavel pelo cabeçalho
  .containerHeader{
    min-height: 137px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    padding: 10px 0 0;
    width: 100%;
    font-size: 17px;
    z-index: 1; // Trás o elemento para frente
    background-color: #1F1F1F;

    // Estilização do nick do usuário

    .nick, .buttonExit{
      background-color: #1F1F1F;
      padding: 10px ;
    }

    .nick{
      padding: 10px;
      font-weight: 600;
    }

    // Estiliza o button de saida
    .buttonExit{
      display: flex;
      flex-direction: row;
      height: 20px;
      padding: 0;
      justify-content: center;
      font-weight: 200;
      width: 97px;
      text-decoration: none;

      span{
        padding: 10px 0;
        color: white;
        font-style: normal;
      }

      span:hover{
        cursor: pointer;
      }
    }

    .buttonExit:hover{
      cursor: pointer;
    }
  }

  // Estiliza a section com as informações de cidade, nome e email
  section{
    
    .containerMainSection{
      height: 147px;
      position: fixed;
      top: 80px;
      width: calc(50%+ 73.5px);
      left: calc(50% - 73.5px);
      border-radius: 100px 100px;
      z-index: 1;
      
      .contentMainImage{
        border: 4px solid #FFFFFF;
        height: 139px;
        border-radius: 100px;
        
        img{
          padding: 0;
          width: 141px;
          height: 100%;
          border-radius: 100px;
        }
      }
    }
  }
  
  // Container Principal
  .containerMain{
    top: 144pt;
    min-height: calc(890px - 145pt);
    bottom: 0;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 40px;
    background-color: #292929;
    
    // Estilização utilizada no block ao lado dos titulos
    .blockTitle{
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding-top: 50px;
      height: 120px;
      
      .blockYellow{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #FFCE00;
        width: 7pt;
        padding-top: 5px;
        height: 21pt;
      }
      
      // Restantes do dados, countRepo, countFollowing, countFollowers
      .dataUser{
        flex-direction: column;
        padding: 5px 15px 0;
        justify-content: center;
        height: 100px;
  
        // Titles
        h1{
          text-transform: uppercase;
          font-size: 26px; 
          font-weight: bold;
        }
        
        span{
          font-size: 16px;
          font-weight: 300;
          padding-top: 100px;
          line-height: 26px;
        }
      }
    }
    
    // Controle de seguidores, seguintes e repositorios
    .controllerFollowers{
      background-color: #5252525D;
      padding: 10px;
      max-width: 100%;
      height: 77px;
      display: flex;
      text-align: center;
      justify-content: center;
      
      .dataControler{
        margin-left: 10px;
        width: 34%;
        
        // Title
        h1{
          font-size: 35px;
        }
        
        p{
          font-size: 16pt;
          font-weight: 200;
        }
      }
    }

    // Biografia do usuario
    .bio{
      .blockTitle{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 60pt;
        height: 31pt;
        padding-top: 40pt;
        margin: 0;
        
        // Title 
        h1{
          font-size: 26px;
          padding-top: 5px;
          height: 31pt;
          width: 46pt;
          
        }
      }
 
      // Texto principal do usuário
      p{
        height: 189pt;
        font-size: 18px;
        font-weight: 300;
        padding: 10px 15pt;
        text-align: left;
        min-width: none;
        margin: 0 auto;
      }
    }
  }
}